<%= button_to "Add new image", new_image_path, method: :get %>

<h1>Images</h1>

<div class="js-image-cards">
  <% @images.each do |image| %>
    <span class="js-image-card">
      <%= link_to image_tag(image.imagelink, class: 'image-display'), image_path(image.id), class: 'js-image-link' %>
      <%= link_to 'Edit', edit_image_path(image.id)  %>
      <%= link_to 'Delete', image_path(image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% if image.tag_list.present? %>
        <div class="js-tag-list">
          <% image.tag_list.each do |tag| %>
            <%= link_to tag, images_path(tag: tag), class: 'js-tag-card' %>
          <% end %>
        </div>
      <% end %>
    </span><br>
  <% end %>
</div>

<% if @tag_flag %>
<%= button_to "Clear tag filter" , images_path, method: :get%>
<% end %>
