<h1>Images</h1>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% else %>
    <p></p>
<% end %>

<ul>
  <% @images.each do |image| %>
      <li><%= image_tag(image.imagelink, width: '400px') %>
        <% if image.tag_list.present? %>

            <% image.tag_list.each do |tag| %>
                <div class='tag-class'> <a href="<%= images_path %>?tag=<%= tag %>"> <%= tag %></div>
            <% end %>
            <br>
          <br>
        <% else %>
            <p></p>
        <% end %>


      </li>
  <% end %>

</ul>
