<h1>add the URL of your favorite image! </h1>

<%= form_for(@image, url: images_path) do |form| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label  'Image Link' %><br>
      <%= form.text_field :imagelink %><br>
      <%= form.label  'Tag list, seperate with comma' %><br>
      <%= form.text_field :tag_list %>
    </p>

    <p>
      <%= form.submit "Add image" %>
    </p>


<% end %>

<%= button_to "Back to index page", images_path, method: :get %>


